@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: #000;
}
.container .head {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: centre;
  width: 100%;
  z-index: 10000;
}
.container .head img {
  margin-left: 25px;
  margin-top: 25px;
  width: 10%;
}
.container .head a {
  height: 45px;
  margin-right: 22px;
  text-decoration: none;
  background-color: red;
  color: white;
  font-size: 20px;
  margin-top: 43px;
  padding: 8px 18px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 2px;
}
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to bottom, #000, transparent);
}
.banner .fit {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.banner .box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.banner .box .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner .box .heading h2 {
  text-align: center;
  font-size: 4.125rem;
  color: white;
  letter-spacing: 2px;
  width: 80%;
}
.banner:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to top, #000, transparent);
}
.banner .box .heading h5 {
  text-align: center;
  font-size: 1.625rem;
  color: white;

  padding: 15px 0px;
}
.banner .box .heading p {
  margin: top 10px;
  text-align: center;
  color: white;

  padding: 10px 0px;
  padding-bottom: 20px;
}
.banner .box .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner .box .search input {
  font-size: 16px;
  border: 1px solid #8c8c8c;
  outline: none;
  color: #000;
  border-radius: 4px;
  padding-bottom: 10px 10px 0 0;
  min-width: 400px;
  height: 60px;
}
.banner .box .search a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.1px;
  background: red;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0, 45);
  font-size: 1.625rem;
  border-radius: 5px;
  line-height: 60px;
  padding: 0px 30px;
  min-width: 310px;
}

.part1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.6rem solid #111;
}
.part1 .talk {
  color: #fff;
  width: 40%;
  margin-left: 20px;
  padding-left: 100px;
}
.part1 .talk h1 {
  font-size: 3.625rem;
  letter-spacing: 3px;
}
.part1 .talk p {
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  padding-top: 20px;
}
.part1 .image {
  width: 45%px;
  margin-left: 50px;
  margin-right: 4px;
}
.part1 .image img {
  width: 100%;
}
.part2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.6rem solid #111;
}
.part2 .talk2 {
  color: #fff;
  width: 48%;

  padding-left: 100px;
}
.part2 .talk2 h1 {
  font-size: 3.625rem;
  letter-spacing: 3px;
}
.part2 .talk2 p {
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  padding-top: 20px;
}
.part2 .image2 {
  width: 40%px;
  margin-left: 50px;
  margin-right: 4px;
}
.part2 .image2 img {
  width: 140%;
}

.part3 {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.6rem solid #111;
}
.part3 .talk3 {
  color: #fff;
  width: 48%;

  padding-left: 100px;
}
.part3 .talk3 h1 {
  font-size: 3.625rem;
  letter-spacing: 3px;
  text-align: center;
}
.part3 .talk3 p {
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  padding-top: 20px;
  text-align: center;
}
.part3 .image3 img {
  width: 100%;
}

.list {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.list h1 {
  color: #fff;
  font-size: 3rem;
  padding: 3rem 0 4rem 0;
}
.tittle {
  background: #303030;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  text-decoration: none;
  border-radius: 5px;
}
.icon {
  width: 20px;
  position: relative;
}
.icon::before,
.icon::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background: #fff;
  top: -1.5px;
}
.icon::after {
  transform: rotate(90deg);
  transition: 0.5s linear;
}
.text {
  background: #303030;
  line-height: 35px;
  margin: 3px 0;
  height: 0;
  opacity: 0;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
}

.item:target + .text {
  opacity: 1;
  height: auto;
  padding: 20px 30px;
  margin: 0;
  border-top: 2px solid #000;
  margin-bottom: 6px;
}
item:target .icon::after {
  transform: rotate(90deg);
  transition: 0.5s linear;
}

.banner2 .box {
  margin: 4rem 0;
  border-bottom: 0.6rem solid #111;
  padding-bottom: 3rem;
}
.banner2 .box .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner2 .box .heading h2 {
  text-align: center;
  font-size: 4.125rem;
  color: white;
  letter-spacing: 2px;
  width: 80%;
}
.banner2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to top, #000, transparent);
}
.banner2 .box .heading h5 {
  text-align: center;
  font-size: 1.625rem;
  color: white;

  padding: 15px 0px;
}
.banner2 .box .heading p {
  margin: top 10px;
  text-align: center;
  color: white;

  padding: 10px 0px;
  padding-bottom: 20px;
}
.banner2 .box .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner2 .box .search input {
  font-size: 16px;
  border: 1px solid #8c8c8c;
  outline: none;
  color: #000;
  border-radius: 4px;
  padding-bottom: 10px 10px 0 0;
  min-width: 400px;
  height: 60px;
}
.banner2 .box .search a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.1px;
  background: red;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0, 45);
  font-size: 1.625rem;
  border-radius: 5px;
  line-height: 60px;
  padding: 0px 30px;
  min-width: 310px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: auto;
    padding:4rem 0;
}

.footer .one{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: auto;
    width:25%;
}
.footer .one li a{
    color: #ccc;
    text-decoration: none;
}
















































































































































